/**
 * Base Dark theme CSS Stylesheet which utilises some basic layout constructs which are:
 *    > Main Background; this is the Main Node, Pane which contains all of the Scenes child nodes.
 *      this would be styled under the Class: 'BackgroundPane'
 *
 *    > Content Windows; Nodes which contain some form of content which should be pushed out in-front
 *      of the Main Background. This is styled under the class: 'ContentModule'
 *
 *    > Scroll Pane Styling; All scroll panes should use the class: DefaultScrollPane
 *
 *
 *    > Optional Style Classes can be applied to all Nodes which desire them:
 *          1) DefaultBorder; which applies a default border around an element.
 *          2) DefaultText; which applies a default text style, and size.
 *          3) HeaderText; larger text style for headers.
 *
 * @Author: -Ry
 * @version: 0.5
 * Copyright: N/A
 */


/**
 * Colour scheme variables. To modify how the stage looks, edit these values.
 * Unfortunately, since JavaFX CSS is quite limited this only works for Colours.
 * So things such as text size, text family and so on are not modifiable in this
 * way.
 */
* {
    -fx-bg_colour: #2d2d2d;
    -fx-content_colour: #18191a;
    -fx-lighter-content: #202122;
    -fx-border_colour_A: #2D3142;

    -fx-default_text_fill: #ffffff;

    -fx-elem_hover_bg: #45484A;
    -fx-elem_hover_border: #323334;

    -fx-alt_hover_bg: #45484A;
    -fx-alt_hover_border: -fx-border_colour_A;
}

/**
 * Background pane style.
 */
.BackgroundPane {
    -fx-background-color: -fx-bg_colour;
}

/**
 * Content module style.
 */
.ContentModule {
    -fx-background-color: -fx-content_colour;
}

/**
 * - - - Styling a Scroll Pane - - -
 *
 * Rather complicated but this default style enforces the following:
 *    1) Horizontal & Vertical Scroll Bars; forced into a Square/Rectangular design
 *    2) Background Colour Scheme; Set to the same as ContentModule.
 */

/**
 *
 */
.DefaultScrollPane {
    -fx-background-color: transparent;
}

/**
 * Outline of the Scroll bars (H & V) also outlines the increment buttons (H & V)
 */
.DefaultScrollPane .scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: -fx-bg_colour;
    -fx-padding: 1;
}

/**
 * The Arrow Buttons which allow you to click to increment/decrement the vertical or
 * horizontal position of the pane.
 */
.DefaultScrollPane .increment-button, .decrement-button {
    -fx-background-color: -fx-bg_colour;
    -fx-padding: 4px;
}

/**
 * Both Horizontal and Vertical Scroll bars
 */
.DefaultScrollPane .scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-content_colour;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

/**
 * Corner square which connects the scroll bars together.
 */
.DefaultScrollPane > .corner {
    -fx-background-color: -fx-bg_colour;
}

/**
 * Bonus Scroll Pane Classes for animating further aspects
 */

.DefaultScrollPane .increment-button:hover, .decrement-button:hover {
    -fx-padding: 4;
    -fx-animated: true;
}

.DefaultScrollPane .increment-button:pressed, .decrement-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.DefaultScrollPane .viewport {
    -fx-background-color: -fx-bg_colour;
}

/**
 * ------------------------- Styling table view ------------------------
 * Styling a table view
 */
.table-view .column-header-background {
    -fx-background-color: -fx-bg_colour;
}

.table-view .column-header-background .label {
    -fx-background-color: -fx-bg_colour;
    -fx-text-fill: -fx-default_text_fill;
}

.table-view .column-header {
    -fx-background-color: -fx-bg_colour;
}

.table-view .table-cell {
    -fx-text-fill: -fx-default_text_fill;
    -fx-font-family: "Lucida Sans";
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:selected {
    -fx-background-color: -fx-lighter-content;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}


/**
 * - - - - - - - - - Extra Optional Styles - - - - - - - - -
 */

/**
 * Adds a non rounded border to a Node
 */
.DefaultBorder {
    -fx-border-color: -fx-border_colour_A;
    -fx-border-width: 4px;
}

/**
 * Gives a rounded border to a Node
 */
.Rounded {
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-background-color: -fx-bg_colour;
    -fx-border-color: -fx-border_colour_A;
}

/**
 * Default text size, colour, and wrap
 */
.DefaultText {
    -fx-font-size: 13px;
    -fx-text-fill: -fx-default_text_fill;
    -fx-wrap-text: true;
}

/**
 * Default Text alternative which makes the text
 * slightly larger
 */
.HeaderText {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-default_text_fill;
    -fx-wrap-text: true;
}

/**
 * Hides the Border and Background of a Node
 */
.TransparentNode {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.TitleText {
    -fx-font-size: 32px;
    -fx-text-fill: -fx-default_text_fill;
    -fx-wrap-text: true;
}

/**
 * Alternative font, suitable for headers.
 */
.AltFontA {
    -fx-font-family: "Franklin Gothic Medium";
}

/**
 * Alternative font, suitable for general text.
 */
.AltFontB {
    -fx-font-family: "Lucida Sans";
}

/**
 * When hovering over an element this is the effect used.
 */
.HoverEffect:hover {
    -fx-background-color: -fx-elem_hover_bg;
    -fx-border-color: -fx-elem_hover_border;

    -fx-background-insets: 1 1 1 1;
    -fx-background-radius: 4px;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-cursor: hand;
}

/**
 * When clicking an element this is the effect used. Default shrinks the Node
 * to simulate travel.
 */
.ClickEffect:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
    -fx-cursor: closed-hand;
}

/**
 * Alternate hover effect style.
 */
.AltHover:hover {
    -fx-background-color: -fx-alt_hover_bg;
    -fx-border-color: -fx-alt_hover_border;
    -fx-cursor: hand;
}

.ContentDivider .split-pane-divider {
    -fx-background-color: -fx-border_colour_A;
}

.ContentDivider:hover .split-pane-divider:hover {
    -fx-blend-mode: exclusion;
    -fx-border-color: -fx-elem_hover_bg;
}

.TabHeaderArea .tab-header-background {
    -fx-background-color: -fx-content_colour;
}

.TabHeaderSkin {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
    -fx-background-color: -fx-bg_colour;
    -fx-padding: 4;
    -fx-border-insets: 2;
    -fx-background-insets: 2;
    -fx-border-radius: 4px;
    -fx-focus-color: transparent;
}

.TabHeaderSkin .tab-label {
    -fx-text-fill: -fx-default_text_fill;
    -fx-focus-color: transparent;
}

.TabHeaderSkin:hover {
    -fx-background-color: -fx-alt_hover_bg;
    -fx-border-radius: 4px;
    -fx-focus-color: transparent;
}

.TabHeaderSkin:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
    -fx-focus-color: transparent;
}

.TabHeaderSkin:selected {
    -fx-scale-y: 1.02;
    -fx-scale-x: 1.02;
    -fx-focus-color: transparent;
    -fx-background-color: -fx-elem_hover_bg;
}
