/**
 * Light theme edit of the base dark theme @dark_theme.css
 *
 * @Author: -Ry
 * @version: 0.3
 * Copyright: N/A
 */


/**
 * Colour scheme variables. To modify how the stage looks, edit these values.
 * Unfortunately, since JavaFX CSS is quite limited this only works for Colours.
 * So things such as text size, text family and so on are not modifiable in this
 * way.
 */
* {
    -fx-bg_colour: #E0E0E0;
    -fx-content_colour: #FFFFFF;
    -fx-border_colour_A: #000000;
    -fx-default_text_fill: #000000;

    -fx-elem_hover_bg: #CCCCCC;
    -fx-elem_hover_border: #141414;

    -fx-alt_hover_bg: -fx-elem_hover_bg;
    -fx-alt_hover_border: -fx-border_colour_A;
}

/**
 * Background pane style.
 */
.BackgroundPane {
    -fx-background-color: -fx-bg_colour;
}

/**
 * Content module style.
 */
.ContentModule {
    -fx-background-color: -fx-content_colour;
}

/**
 * - - - Styling a Scroll Pane - - -
 *
 * Rather complicated but this default style enforces the following:
 *    1) Horizontal & Vertical Scroll Bars; forced into a Square/Rectangular
 *       design
 *    2) Background Colour Scheme; Set to the same as ContentModule.
 */

/**
 *
 */
.DefaultScrollPane {
    -fx-background-color: transparent;
}

/**
 * Outline of the Scroll bars (H & V) also outlines the increment buttons
 * (H & V)
 */
.DefaultScrollPane .scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: -fx-bg_colour;
    -fx-padding: 1;
}

/**
 * The Arrow Buttons which allow you to click to increment/decrement the
 * vertical or horizontal position of the pane.
 */
.DefaultScrollPane .increment-button, .decrement-button {
    -fx-background-color: -fx-bg_colour;
    -fx-padding: 6px;
}

/**
 * Both Horizontal and Vertical Scroll bars
 */
.DefaultScrollPane .scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-content_colour;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

/**
 * Corner square which connects the scroll bars together.
 */
.DefaultScrollPane > .corner {
    -fx-background-color: -fx-bg_colour;
}

/**
 * Bonus Scroll Pane Classes for animating further aspects
 */

.DefaultScrollPane .increment-button:hover, .decrement-button:hover {
    -fx-padding: 4;
    -fx-animated: true;
}

.DefaultScrollPane .increment-button:pressed, .decrement-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/**
 * - - - Extra Optional Styles - - -
 */

/**
 * Adds a non rounded border to a Node
 */
.DefaultBorder {
    -fx-border-color: -fx-border_colour_A;
    -fx-border-width: 3px;
}

/**
 * Gives a rounded border to a Node
 */
.Rounded {
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

/**
 * Default text size, colour, and wrap
 */
.DefaultText {
    -fx-font-size: 13px;
    -fx-text-fill: -fx-default_text_fill;
    -fx-wrap-text: true;
}

/**
 * Default Text alternative which makes the text
 * slightly larger
 */
.HeaderText {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-default_text_fill;
    -fx-wrap-text: true;
}

/**
 * Hides the Border and Background of a Node
 */
.TransparentNode {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.TitleText {
    -fx-font-size: 32px;
    -fx-text-fill: -fx-default_text_fill;
    -fx-wrap-text: true;
}

/**
 * Alternative font, suitable for headers.
 */
.AltFontA {
    -fx-font-family: "Franklin Gothic Medium";
}

/**
 * Alternative font, suitable for general text.
 */
.AltFontB {
    -fx-font-family: "Lucida Sans";
}

/**
 * When hovering over an element this is the effect used.
 */
.HoverEffect:hover {
    -fx-background-color: -fx-elem_hover_bg;
    -fx-border-color: -fx-elem_hover_border;
    -fx-cursor: hand;
}

/**
 * When clicking an element this is the effect used. Default shrinks the Node
 * to simulate travel.
 */
.ClickEffect:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
    -fx-cursor: closed-hand;
}

/**
 * Alternate hover effect style.
 */
.AltHover:hover {
    -fx-background-color: -fx-alt_hover_bg;
    -fx-border-color: -fx-alt_hover_border;
    -fx-cursor: hand;
}
